@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-effect-line {
  width: 100%;
  height: 2px;
  inset: auto auto 0px 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgb(31, 38, 45) 0%, rgba(31, 38, 45, 0) 100%);
  display: block;
  border: none;
  position: absolute;
  transform: translateX(-50%);
}